@tailwind base;
@tailwind components;
@tailwind utilities;

/* the logo font 'rosca' */
@font-face {
  font-family: 'moonet'; /* Name used in Tailwind config */
  src: url('/fonts/moonet.otf') format('opentype'); /* Path to the font file */
  font-weight: normal;
  font-style: normal;
}
